/* .cont{
    background-color: blue;
    background-image: url(middle/gigi.webp);
    height: 400px;
    width: 500px;
    animation-name: new;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.a,.b{
    height: 500px;
    width: 500px;
    background-color: black;
    display: flex;
}
@keyframes new {
    0%{
        background-image: url(middle/home.avif);
    }
    50%{

        background-image: url(mn-clp-sec1-2dec24-4.jpg) ;
    }
    100%{
        background-image: url(middle/men.jpg);
    }
} */
.cont{
    background-color: aqua;
    display: grid;
    /* grid-template-columns: 3 auto; */
    grid-template-rows: 4 auto;
    
}
.a,.b,.c,.d{
    border: 4px solid black;
    height: 200px;
    width: 300px;

    
}